<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="curriculumContents">
    <!-------------------------------------- 1학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents1">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 1학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents2" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C++</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 2학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents3" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C#</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 2학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents4" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">JAVA</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 3학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents5" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">JAVA 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 3학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents6" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">Android</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                            <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                                <a href="#" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                            </span>
            </div>
        </div>
    </div>
</th:block>
</html>