<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">
    <main class="page gallery-page">
        <section class="clean-block clean-gallery dark">
            <div class="container">
                <div class="block-heading"></div>
                <div class="table-responsive" style="border-radius: 10px;border: 1px solid rgba(0,0,0,0.3) ;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background: rgba(0,0,0,0.05);">
                                    <p style="color: var(--bs-blue);margin: 0px;"><strong>키워드 검색 결과</strong></p>
                                </th>
                            </tr>
                        </thead>
                        <tbody style="border-top-width: 0px;">
                            <tr>
                                <td style="border-bottom-width: 0px;">
                                    <div class="block-heading" style="padding-left: 10px;border-bottom-width: 2px;border-bottom-style: solid;"><a href="#" style="color: #72a7f6;font-size: 20px;font-weight: bold;">C언어</a><span style="margin: 5px;font-weight: bold;font-size: 20px;">/</span><a href="#" style="color: #72a7f6;font-size: 20px;font-weight: bold;">C++</a><span style="margin: 5px;font-weight: bold;font-size: 20px;">/</span><a href="#" style="color: rgb(0,0,0);font-weight: bold;font-size: 25px;">C#</a>
                                        <div class="d-flex flex-row flex-wrap"><span style="font-weight: bold;margin: 5px;background: #3bcbef;padding: 5px;border-radius: 25px;"><a href="#" style="color: rgb(0,0,0);">Keyword1</a></span><span style="font-weight: bold;margin: 5px;background: #3bcbef;padding: 5px;border-radius: 25px;"><a href="#" style="color: rgb(0,0,0);">KeywordKeyword1</a></span><span style="font-weight: bold;margin: 5px;background: #3bcbef;padding: 5px;border-radius: 25px;"><a href="#" style="color: rgb(0,0,0);">Keyword1</a></span><span style="font-weight: bold;margin: 5px;background: #3bcbef;padding: 5px;border-radius: 25px;"><a href="#" style="color: rgb(0,0,0);">Keyword1</a></span><span style="font-weight: bold;margin: 5px;background: #3bcbef;padding: 5px;border-radius: 25px;"><a href="#" style="color: rgb(0,0,0);">Keyword1</a></span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom-width: 0px;">
                                    <div class="col" style="margin-bottom: 8px;padding: 8px;border-bottom: 1px solid rgba(0,0,0,0.3) ;"><a href="#"><strong><span style="color: rgb(33, 37, 41);">C# 검색 결과 1</span></strong><br></a>
                                        <p style="font-size: 13px;">검색 결과 링크의 내용 미리보기 입니다. 글자수 제한이 들어갈 예정입...</p>
                                        <p style="font-size: 13px;margin: 0px;">누군가의 블로그</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom-width: 0px;">
                                    <div class="col" style="margin-bottom: 8px;padding: 8px;border-bottom: 1px solid rgba(0,0,0,0.3) ;"><a href="#"><strong><span style="color: rgb(33, 37, 41);">C# 검색 결과 2</span></strong><br></a>
                                        <p style="font-size: 13px;">검색 결과 링크의 내용 미리보기 입니다. 글자수 제한이 들어갈 예정입...</p>
                                        <p style="font-size: 13px;margin: 0px;">누군가의 블로그</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom-width: 0px;">
                                    <div class="col" style="margin-bottom: 8px;padding: 8px;border-bottom: 1px solid rgba(0,0,0,0.3) ;"><a href="#"><strong><span style="color: rgb(33, 37, 41);">C# 검색 결과 3</span></strong><br></a>
                                        <p style="font-size: 13px;">검색 결과 링크의 내용 미리보기 입니다. 글자수 제한이 들어갈 예정입...</p>
                                        <p style="font-size: 13px;margin: 0px;">누군가의 한숨</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
</th:block>

</html>