<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">
    <section class="clean-block clean-form dark h-100">
        <div class="container">
            <div class="block-heading" style="padding-top: 0px;">
                <h2 class="text-info" style="font-size: 40px;text-align: center;margin-bottom: 15px;">회원가입</h2>
            </div>
            <form action="index.html" method="post" enctype="multipart/form-data" role="form">
                <div class="d-flex align-items-center align-items-sm-center form-group mb-3" style="width: 100%;"><i class="fa fa-star fa fa-envelope rf-icon" style="font-size: 30px;margin: 10px;color: var(--bs-body-color);"></i><label class="form-label"></label><input class="form-control" type="email" placeholder="이메일@" style="height: 40px;"><button class="btn btn-primary d-flex" type="button" style="width: 25%;margin: 10px;height: 35px;text-align: right;float: right;font-size: 15px;background: rgb(32,113,250);border-color: rgb(255,255,255);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -64 640 640" width="1em" height="1em" fill="currentColor" style="font-size: 30px;margin: 0px;text-align: center;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L478.9 160.8C412.3 167.2 356.5 210.8 332.6 270.6L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM294.4 339.2L320.8 319.4C320.3 324.9 320 330.4 320 336C320 378.5 335.1 417.6 360.2 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2zM640 336C640 415.5 575.5 480 496 480C416.5 480 352 415.5 352 336C352 256.5 416.5 192 496 192C575.5 192 640 256.5 640 336zM540.7 292.7L480 353.4L451.3 324.7C445.1 318.4 434.9 318.4 428.7 324.7C422.4 330.9 422.4 341.1 428.7 347.3L468.7 387.3C474.9 393.6 485.1 393.6 491.3 387.3L563.3 315.3C569.6 309.1 569.6 298.9 563.3 292.7C557.1 286.4 546.9 286.4 540.7 292.7H540.7z"></path>
                        </svg>ok</button></div>
                <div class="d-flex align-items-center align-items-sm-center form-group mb-3"><label class="form-label"></label><i class="fa fa-check d-flex fa fa-key rf-icon" style="font-size: 38px;width: 35px;margin: 8px;color: var(--bs-body-color);"></i><input class="form-control" type="password" placeholder="비밀번호" style="height: 40px;"></div>
                <div class="d-flex align-items-center align-items-sm-center form-group mb-3"><i class="fa fa-check" style="width: 40px;font-size: 38px;margin: 7px;color: var(--bs-body-color);"></i><input class="form-control" type="password" placeholder="비밀번호 확인" style="height: 40px;"></div>
                <div class="d-flex align-items-center align-items-sm-center form-group mb-3"><label class="form-label"></label><i class="fab fa-waze" style="font-size: 39px;width: 30px;margin: 0px 3px;color: var(--bs-body-color);"></i><input class="form-control d-flex" type="text" autocomplete="off" required="" placeholder="닉네임" name="city" title="Debes escribir el nombre de una ciudad" style="width: 80%;height: 40px;margin: 8px 0px;margin-left: 12px;"><button class="btn btn-primary d-flex" type="button" style="width: 25%;margin: 10px;height: 35px;text-align: center;float: right;font-size: 15px;font-weight: bold;background: rgb(32,113,250);border-color: rgb(255,255,255);">확인</button></div>
                <hr style="margin-top: 30px;margin-bottom: 10px;">
                <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="text-align: center;background: rgb(32,113,250);border-color: rgb(255,255,255);"><i class="fas fa-thumbs-up"></i>&nbsp;회원등록&nbsp;</button></div>
            </form>
        </div>
    </section>
</th:block>

</html>