<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">
    <main class="page gallery-page">
        <section class="clean-block clean-gallery dark">
            <div class="container" style="padding: 20px;">
                <div class="col">
                    <ul class="nav nav-tabs" style="border-bottom-style: solid;border-bottom-color: rgb(32,113,250);">
                        <li class="nav-item" style="width: 50%;text-align: center;"><a class="nav-link active" href="#" style="color: rgb(255,255,255);background: rgb(32,113,250);border-top-left-radius: 10px;border-top-right-radius: 10px;border-width: 0px;border-bottom-color: rgb(43,116,247);box-shadow: 10px 10px 11px rgba(0,0,0,0.1);">게시판 Hot<br></a></li>
                        <li class="nav-item" style="width: 50%;text-align: center;"><a class="nav-link active" href="#" style="color: rgb(0,0,0);background: rgb(255,255,255);border-top-left-radius: 10px;border-top-right-radius: 10px;border-width: 0px;border-bottom-color: rgb(43,116,247);box-shadow: 10px 10px 11px rgba(0,0,0,0.1);">Google Hot<br></a></li>
                    </ul>
                    <div class="item" style="padding: 10px;border-top-color: rgba(0,0,0,0.5);border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.5);">
                        <p><a href="#"><span style="color: rgb(33, 37, 41);">1. gHot1</span><br></a></p>
                        <p><a href="#"><span style="color: rgb(33, 37, 41);">2. gHot2</span><br></a></p>
                        <p><a href="#"><span style="color: rgb(33, 37, 41);">3. gHot3</span><br></a></p>
                        <p><a href="#"><span style="color: rgb(33, 37, 41);">4. gHot4</span><br></a></p>
                        <p><a href="#"><span style="color: rgb(33, 37, 41);">5. gHot5</span><br></a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</th:block>
</html>