<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="d-flex justify-content-between">
                    <p class="text-primary d-flex align-items-center m-0 fw-bold">내  정보</p><button class="btn btn-primary" type="button">수정</button>
                </div>
            </div>
            <div class="card-body" style="height: 550px;padding-bottom: 9px;">
                <form style="padding-top: 0px;margin-top: 6px;">
                    <div class="text-center">
                        <p class="text-end" style="text-decoration: underline;"> 이은성님 안녕하세요!</p>
                    </div>
                </form>
                <div class="d-flex align-items-center" style="margin-top: 0px;margin-bottom: 0px;padding-bottom: 0px;"><i class="fa fa-user icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                    <p class="d-flex align-items-end" style="margin-bottom: -6px;padding-bottom: 4px;">roro123</p>
                </div>
                <div class="d-flex" style="margin-top: 25px;"><i class="fa fa-table icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                    <p class="d-flex align-items-end" style="padding-bottom: 0px;margin-bottom: 0px;">3학년 C반 입니다.</p>
                </div>
                <div>
                    <p style="margin-bottom: 0px;margin-top: 50px;background: var(--bs-card-cap-bg);font-size: 20px;color: var(--bs-blue);"><strong>내가 올린 게시글</strong></p>
                </div>
                <div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>팀원 게시판</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>자바 간단 프로젝트 할사람~?</td>
                            </tr>
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>연애 상담</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>여자친구 연락을 안받아요....</td>
                        </tr>
                        <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>