<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">
    <section class="clean-block clean-form dark h-100">
        <div class="container">
            <div class="block-heading" style="padding-top: 0px;">
                <h2 class="text-info" style="font-size: 40px;text-align: center;margin-bottom: 15px;">내 정보 수정</h2>
            </div>
            <form action="index.html" method="post" enctype="multipart/form-data" role="form">
                <div class="d-flex align-items-sm-center form-group mb-3"><label class="form-label"></label><i class="fa fa-check d-flex fa fa-key rf-icon" style="font-size: 38px;width: 35px;margin: 8px;color: var(--bs-body-color);"></i><input class="form-control" type="password" placeholder="현재 비밀번호" style="height: 40px;"></div>
                <div class="d-flex align-items-sm-center form-group mb-3"><label class="form-label"></label><i class="fa fa-check d-flex fa fa-key rf-icon" style="font-size: 38px;width: 35px;margin: 8px;color: var(--bs-body-color);"></i><input class="form-control" type="password" placeholder="새 비밀번호" style="height: 40px;"></div>
                <div class="d-flex align-items-sm-center form-group mb-3"><i class="fa fa-check" style="width: 40px;font-size: 38px;margin: 7px;color: var(--bs-body-color);"></i><input class="form-control" type="password" placeholder="새 비밀번호 확인" style="height: 40px;"></div>
                <div class="d-flex align-items-sm-center form-group mb-3" style="height: 40px;"><label class="form-label"></label><i class="fab fa-waze" style="font-size: 39px;width: 30px;margin: 0px 3px;color: var(--bs-body-color);"></i><input class="form-control d-flex" type="text" autocomplete="off" required="" placeholder="닉네임" name="city" title="Debes escribir el nombre de una ciudad" style="width: 80%;height: 40px;margin: 8px 0px;margin-left: 12px;"><button class="btn btn-primary d-flex" type="button" style="width: 25%;margin: 10px;height: 35px;text-align: center;float: right;font-size: 15px;font-weight: bold;background: rgb(32,113,250);border-color: rgb(255,255,255);">확인</button></div>
                <hr style="margin-top: 30px;margin-bottom: 10px;">
                <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="text-align: center;background: rgb(32,113,250);border-color: rgb(255,255,255);"><i class="fas fa-thumbs-up"></i>&nbsp; 정보 수정</button></div>
            </form>
        </div>
    </section>
</th:block>

</html>