<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="curriculumContents">
    <!-------------------------------------- 1학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents1">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/C언어" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/vb.net" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">VB.NET</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/컴퓨터개론" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">컴퓨터개론</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/html css" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">HTML CSS</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/ui" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">UI</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 1학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents2" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/c#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C#</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/javascript" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">웹프로그래밍</dnp></span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/python기초" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">파이썬</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/자료구조 알고리즘" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">자료구조 알고리즘</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/운영체제" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">운영체제</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/컴퓨터보안" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">컴퓨터보안</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 2학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents3" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/c++" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C++</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/데이터베이스" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">데이터베이스</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/python" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">파이썬 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/linux" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">운영체제 실습</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/컴퓨터구조" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">컴퓨터구조</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/데이터통신" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">데이터 통신</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 2학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents4" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/java" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">JAVA</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/MFC" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C++ 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/sql" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">데이터베이스 응용실습</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/시스템분석 설계" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">시스템분석 및 설계</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/term프로젝트" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">TERM프로젝트</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/컴퓨터네트워크" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">컴퓨터네트워크</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 3학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents5" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/jsp" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">웹프로그래밍심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/android studio java" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">모바일프로그래밍 기초</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/java thread socket" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">Java 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/캡스톤디자인" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">캡스톤디자인</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/ict란" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">ICT기술융합</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 3학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents6" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/android studio java" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">모바일프로그래밍 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/ar vr" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">AR/VR</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/it취창업" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">IT취업 및 창업</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">시스템 소프트웨어 실습</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/iot시스템" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">IOT 시스템 실습</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>
</th:block>
</html>