<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="curriculumContents">
    <!-------------------------------------- 1학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents1">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/C언어" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C언어</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">코딩의 기초, 앞으로 배울 코딩의 기반을 다지는데 중요한 C언어 수업입니다. 명령어와 데이터 연산, 호출 등 자주 등장하는 개념들을 잘 익혀두면 아주 도움이 됩니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/vb.net" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">VB.NET</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">윈도우 Form 응용 프로그램을 제작할 수 있습니다. 버튼, 레이블, 입력창 등의 도구를 통해 아주 기본적인 윈도우의 계산기같은 프로그램을 제작할 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/컴퓨터개론" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">컴퓨터개론</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">소프트웨어, 하드웨어 등 컴퓨터 프로그래밍을 수행하는데 있어서 필수적인 배경지식, 개념을 익힐 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/html css" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">HTML CSS</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">웹 프로그래밍 언어로 브라우저를 통해 접속할 수 있는 웹 사이트의 전면적으로 보이는 프론트엔드 즉, 웹 페이지를 제작할 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/ui" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">UI</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">User Interface의 약자로 사용자에게 보여지는 디자인입니다. UI를 제작하는 프로그램을 다뤄볼 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 1학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents2" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/c#" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C#</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">처음으로 접하는 객체지향 프로그래밍인 만큼 OOP의 특징에 대해 잘 이해하고 넘어가는게 중요합니다.
                        유니티라는 게임엔진에 주로 쓰이는 개발언어로 게임쪽 분야를 꿈꾼다면 잘 배우고 가는게 좋습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/php" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">웹프로그래밍</dnp></span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted"> PHP를 배우기 전 서버와 클라이언트의 구조를 파악하고 개념을 익히는게 중요합니다. 추후에 더욱 발전된 서버사이드 언어들을 익히므로 기본을 잘 익히는게 중요합니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/python기초" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">파이썬</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">처음으로 배우는 스크립트 언어인만큼 특징을 잘 아는게 중요하고, 인공지능에 주로 쓰이는 언어입니다. 요즘 트랜드인만큼
                        잘 배워두면 다음 학기때 배우는 심화학습에도 도움이 됩니다!</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/자료구조 알고리즘" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">자료구조 알고리즘</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">정말 모든 로직을 세운느데 기틀이 되는 중요한 과목! 백준사이트에 들어가서 천천히 문제해결능력을 길러보는것을
                        추천합니다. 기본적으로 먼저 배워야할 것은 특정 자료구조를 배웠으면 해당 자료구조를 사용하는 알고리즘 문제를 바로 풀어보는게 좋습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/운영체제" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">운영체제</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">OS실습을 배우기 전에 기본 관련 이론들을 배웁니다. 운영체제에 대해서 기본을 다져놓으면 나중에 리눅스 환경이나 다양한 운영체제를 다룰때 도움이 됩니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/컴퓨터보안" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">컴퓨터보안</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">여러가지 위협으로부터 정보보호의 한 영역으로써 컴퓨팅 환경에 저장되거나 처리되는 정보를 다양한 위협으로부터 보호하기위한 이론을 배웁니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 2학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents3" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/c++" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C++</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">C언어랑 같다는 생각은 절대 하지 않는게 중요합니다. 객체지향에서의 오버라이딩, 멀티스레드 등 다양한 특징들을 익히는게 중요합니다</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/데이터베이스" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">데이터베이스</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">데이터베이스 실습을 하기전에 엔티티간의 관계, 매핑관계, 데이터베이스에서의 다양한 용어들을 헷갈리지 않도록 잘 정리하는게 중요합니다</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/python" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">파이썬 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">파이썬의 주요 특징은 높은 확장성과 이식성, 그리고 넓은 생태계입니다. 다양한 라이브러리를 접해보면서 개념을 늘려가세요</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/linux" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">운영체제 실습</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">우분투 가상환경을 접하면서 가상환경에 대한 이해와 기본 세팅을 잘 숙지하고, 리눅스언어는 개발자인생을 살면서 절대 떨어질 수 없는 존재이기 때문에 익숙해지면 좋습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/컴퓨터구조" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">컴퓨터구조</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">컴퓨터 구조를 이해하면 입력과 출력에만 집중하는 개발을 넘어 성능, 용량, 비용까지 고려하며 개발하는 개발자가 될 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/데이터통신" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">데이터 통신</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">네트워크와 프로토콜의 개념을 확실히 잡아가고 OSI 7계층, TCP/IP 4계층 부분은 나중에 기술면접(CS)에도 주로 출제되는 개념이라 확실하게 이해하고 넘어가는게 좋습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 2학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents4" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/java" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">JAVA</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">객체지향 프로그래밍의 대표적인 언어 중 하나로 클래스, 객체, 상속등을 이용해서 객체 지향 프로그래밍에 대해서 공부할 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/MFC" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">C++ 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">C++ 언어를 이용하여 MFC라는 윈도우 GUI 응용프로그램을 작성하는 라이브러리를 응용 및 실습해볼 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/sql" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">데이터베이스 응용실습</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">관계형 데이터베이스를 직접 다뤄볼 수 있습니다. 프로그래밍에 필수 요소인 데이터베이스를 활용하기 위해 SQL 문과 그 외 집계함수, Stored Procedure등을 사용할 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/시스템분석 설계" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">시스템분석 및 설계</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">프로젝트를 진행하기에 앞서 시스템을 분석하는 방법과 프로그램을 제작하는데 필요한 설계 방법을 배울 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/term프로젝트" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">TERM프로젝트</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">그동안의 공부한 것들을 토대로 실제 프로젝트를 진행하는 과정을 배워볼 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/컴퓨터네트워크" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">컴퓨터네트워크</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">네트워크가 발전해온 과정들과 기본 구조, 기본 개념들을 배워볼 수 있습니다.</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 3학년 1학기 ----------------------------------------->
    <div class="curContents" id="curContents5" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/jsp" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">웹프로그래밍심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/android studio java" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">모바일프로그래밍 기초</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/java thread socket" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">Java 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/캡스톤디자인" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">캡스톤디자인</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/ict란" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">ICT기술융합</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>


    <!-------------------------------------- 3학년 2학기 ----------------------------------------->
    <div class="curContents" id="curContents6" style="display: none;">
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/android studio java" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">모바일프로그래밍 심화</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/ar vr" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">AR/VR</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/it취창업" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">IT취업 및 창업</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">시스템 소프트웨어 실습</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
        <div class="item" style="padding: 10px;border-bottom-style: solid;border-bottom-color: rgba(0,0,0,0.3);">
            <div class="row">
                <div class="col-md-6"><a href="/searchKeyword/iot시스템" style="font-size: 25px;"><strong><span style="color: rgb(33, 37, 41);">IOT 시스템 실습</span></strong><br></a></div>
                <div class="col">
                    <p class="text-muted">가볍게 C언어의 기초를 배우고 들어갑니다람쥐~라는 간단한 설명의 텍스트가 들어갈 파라그래프입니당다라당당숭당당</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" >
                <span style="font-weight: bold;margin: 5px;background: #2071fa;padding: 5px;border-radius: 25px;color: rgb(255,255,255);" th:each="keywordMap : ${lists}">
                    <a th:href="@{/searchKeyword/{keyword}(keyword=${keywordMap.key})}" style="color: rgb(255,255,255);" th:text="${keywordMap.key}"></a>
                </span>
            </div>
        </div>
    </div>
</th:block>
</html>