<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bs-init.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/agency.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/roadmap.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/signup.js}"></script>
</th:block>
</html>